$with-flavor: true;
@import "imports/reset";
@import "imports/normalize";
@import "imports/flavor";
@import "imports/mixins";

@include font-face("ProximaNova", "build\fonts\ProximaNovaExtraBold", 900);
@include font-face("ProximaNova", "build\fonts\ProximaNovaBold", 600);
@include font-face("ProximaNova", "build\fonts\ProximaNovaSemiBold", 400);

$accent-color: #20aa97;
$font-color: #585858;

$grid-bp-xs: 320;
$grid-bp-sm: 576;
$grid-bp-md: 768;
$grid-bp-lg: 992;
$grid-bp-xl: 1200;
$grid-bp-xxl: 1600;
$map-grid-props: (
        '': 0,
        '-xs': $grid-bp-xs,
        '-sm': $grid-bp-sm,
        '-lg': $grid-bp-lg,
        '-xl': $grid-bp-xl
);
$container-max-widths: (
        '': 0,
        100%: $grid-bp-xs,
        540px: $grid-bp-sm,
        720px: $grid-bp-md,
        960px: $grid-bp-lg,
        1140px: $grid-bp-xl,
        1536px: $grid-bp-xxl
);
$grid__cols: 10;

@mixin create-mq($breakpoint) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin container-max-widths() {
  @each $container-max-width, $breakpoint in $container-max-widths {
    @include create-mq($breakpoint) {
      width: $container-max-width;
      max-width: 100%;
    }
  }
}

@each $modifier, $breakpoint in $map-grid-props {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid__cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid__cols / $i) ) * 1%;
      }
    }
  }
}

body {
  font-family: ProximaNova, sans-serif;
  color: $font-color;
  /*background: url("images/service-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;*/
}

.container {
  margin: 0 auto;
  max-width: 100%;
  @include container-max-widths();
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: all 0.25s ease;
  &:hover {
    color: $accent-color;
  }
}

.dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #000;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
  box-shadow: 0 0 7px 0 #ccc;
  .sidebar-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-menu {
    li {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.sidebar-open-button, .sidebar-close-button {
  button {
    display: block;
    background: transparent;
    border: none;
    padding: 5px;
    width: 40px;
    font-size: 1.6em;
  }
  @media (min-width: 991px) {
    display: none;
  }
}

.navbar {
  border-bottom: 1px solid #ccc;
  &-elements-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    @media (max-width: 991px) {
      padding: 0.5em 0;
    }
    @media (max-width: 320px) {
      padding: 0.5em;
    }
    & .logo {
      .dot {
        @extend .dot;
        width: 6px;
        height: 6px;
        margin: 0 !important;
      }
      span {
        display: inline-block;
        line-height: 1.4em;
        font-size: 1.1em;
        margin-left: 0.5em;
        font-weight: 900;
        @media (max-width: 991px) {
          font-size: 0.9em;
        }
        @media (max-width: 320px) {
          margin-left: 0;
        }
      }
      img {
        @media (max-width: 991px) {
          width: 50px;
          height: 35px;
        }
      }
    }
  }
  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    &.vertical {
      display: flex;
      flex-direction: column;
    }
    li {
      padding: .7em 1.5em;
      color: #000;
      font-weight: 900;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        font-weight: 900;
        font-size: 0.9em;
        .dot {
          @extend .dot;
          width: 5px;
          height: 5px;
          transition: all 0.25s ease;
        }
        &:hover {
          .dot {
            background: $accent-color;
          }
        }
      }
    }
  }
}

.main-part {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 991px) {
    padding-top: 65px;
  }
  @media (max-width: 320px) {
    align-items: flex-start;
    padding-left: 1em;
  }
  &_header {
    h1 {
      font-size: 5.3em;
      @media (max-width: 991px) {
        font-size: 4em;
      }
      @media (max-width: 320px) {
        font-size: 3em;

      }
      font-weight: 900;
      color: #000;
      .dot {
        @extend .dot;
        width: 20px;
        height: 20px;
        background: #20aa97;
        margin-left: -20px;
        @media (max-width: 320px) {
          margin-left: -10px;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  &_goal {
    padding-top: 100px;
    @media (max-width: 991px) {
      padding-top: 45px;
    }
    @media (max-width: 320px) {
      padding-top: 35px;
    }
    p {
      font-weight: 900;
      text-align: center;
      line-height: 2.6em;
      @media (max-width: 991px) {
        font-weight: 600;
        line-height: 2em;
      }
      @media (max-width: 320px) {
        text-align: left;
      }
    }
  }
}

.svg-container {
  margin: 1.5em 0;
}

.services-block {
  &_element {
    margin-top: 100px;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    svg{
      transition: all 0.25s ease;
    }
    &:hover{
      svg{
        transform: scale(1.1);
        path{
          fill: #000;
        }
      }
    }
    @media (max-width: 992px) {
      flex-basis: 50%;
      margin-top: 45px;
    }
  }
  &_svg-container {
    @extend .svg-container;
    @media (max-width: 991px) {
      margin: 1em 0;
    }
  }
  &_description {
    width: 80%;
    margin: 1.5em auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    @media (max-width: 991px) {
      margin: 1em auto;
      line-height: 1.7em;
    }
    @media (max-width: 320px) {
      line-height: 1.4em;
      font-size: 0.9em;
      width: 90%;
    }
    strong {
      color: #000;
      font-weight: 900;
    }
  }
}

.offers-block {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  &_header {
    font-size: 3.3em;
    font-weight: 900;
    text-align: center;
    color: #000;
    @media (max-width: 320px) {
      font-size: 2.5em;
      text-align: left;
    }
    .dot {
      @extend .dot;
      width: 10px;
      height: 10px;
      background: #20aa97;
      margin-left: -20px;
      @media (max-width: 320px) {
        margin-left: -10px;
      }
    }
  }
  &_element {
    margin-top: 100px;
    flex-basis: 50%;
    &:nth-child(odd) {
      padding-right: 3.8em;
    }
    &:nth-child(even) {
      padding-left: 3.8em;
    }
    svg{
        transition: all 0.25s ease;
    }
    &:hover{
      svg{
        transform: scale(1.1);
        path{
          fill: #000;
        }
      }
    }
    @media (max-width: 991px) {
      flex-basis: 100%;
      padding: 0;
      margin-top: 45px;
      &:nth-child(odd) {
        padding: 0;
      }
      &:nth-child(even) {
        padding: 0;
      }
    }
  }
  &_offer-name {
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 900;
    color: #000;
  }
  &_svg-container {
    @extend .svg-container;
    margin-bottom: 3.8em;
    padding-left: 1.9em;
    @media (max-width: 991px) {
      margin: 2em 2em 3.7em 0;
    }
    @media (max-width: 320px) {
      margin-top: 1.2em;
    }
  }
  &_offer-description {
    font-size: 1.1em;
    line-height: 1.3em;
    @media (max-width: 320px) {
      font-size: 1em;
      font-weight: 600;
    }
  }
}

footer {
  padding: 4em 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background: #000;
  @media (max-width: 991px) {
    padding: 2em 0;
  }
  .footer_rights {
    color: #fff;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 0.8em;
      line-height: 2.3em;
      width: 85%;
    }
    a {
      color: $accent-color;
      &:hover {
        color: #fff;
      }
    }
  }

}

.fade-on-scroll {
  opacity: 0;
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  opacity: 1;
  &-content-wrapper {
    display: flex;
    align-items: center;
    svg {
      animation: spin 1s ease-in-out infinite;
    }
    span {
      font-size: 3em;
      font-weight: 900;
      margin-left: 20px;
      color: #000;
      .dot {
        width: 10px;
        height: 10px;
        margin-left: 10px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#main-page {
  display: none;
}